@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0f7771;
  --color-primary-content: #ffffff;
  --color-secondary: #ed3f27;
  --color-base-100: #f2fffe;
  --color-base-content: #1f2937;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #14b8a6;
  --color-primary-content: #ffffff;
  --color-secondary: #f87171;
  --color-base-100: #0f172a;
  --color-base-content: #f8fafc;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    @apply transition-colors duration-300;
  }
}

@layer components {
  .myBtn {
    @apply btn btn-outline border-primary text-primary hover:bg-primary hover:text-white font-semibold;
  }
  .container {
    @apply max-w-[1440px] w-11/12 mx-auto;
  }
}
